<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ghost Net Fishing</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <h1>Willkommen zur Ghost Net Fishing App</h1>

    <h2>Technologie Stack</h2>
    <table border="1" style="width: 400px;">
        <tr><th>Technologie</th></tr>
        <tr th:each="tech : ${techStack}">
            <td th:text="${tech}"></td>
        </tr>
    </table>

    <br/>
    <button onclick="alert('Test!');">Test Button</button>
    <br/><br/>
    <a th:href="@{/welcome}">Zu Welcome gehen</a>

    <hr/>
    <p><em>Spring Boot 3.3 App</em></p>
</body>
</html>
