<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/_layout :: layout(~{::main}, 'settings')}">
<main>
    <h2>Settings</h2>
    <div class="form-row">
        <label>
            <input type="checkbox" id="high-contrast-toggle" onchange="toggleHighContrast()">
            High Contrast
        </label>
    </div>
    <div class="form-row">
        <label>
            <input type="checkbox" id="readable-font-toggle" onchange="toggleReadableFont()">
            Readable Font
        </label>
    </div>
</main>
</html>

