<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ghost Net Fishing</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <h1>Ghost Net Eingabe</h1>
    <form th:action="@{/create}" method="post">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}" required /></td>
                <td><input type="submit" value="Hinzufügen" /></td>
            </tr>
        </table>
    </form>
    <br/>
    <table border="1" th:if="${not #lists.isEmpty(ghostNets)}">
        <tr>
            <th>Name</th>
            <th>Erstellt am</th>
        </tr>
        <tr th:each="g : ${ghostNets}">
            <td th:text="${g.name}"></td>
            <td th:text="${#dates.format(g.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>
    <br/>
    <a th:href="@{/}">Zurück zur Index</a>
</body>
</html>

